	<div class="container">

		<div class="jumbotron text-center">
			<h1> {{ title }} </h1>
		</div>

		<div class="row">
			<div class="col-sm-8 col-sm-offset-2 text-center">
				<form>
					<div class="form-group">

						<input type="text" class="form-control input-lg text-center" placeholder="Oh Yummy Wiki" ng-model="searchString">

					</div>

					<button type="submit" class="btn btn-danger btn-lg" ng-click="search()">Yummy</button>
				</form>

				<ul class="list-group">
					<li class="list-group-item" ng-repeat="q in ambQueries">
						<a ng-click="accuSearch(q.url)" class="pointer">{{ q.title }}</a>
					</li>
				</ul>

			</div>
		</div>
	</div>


		