<div class="container container-home">

	<div class="hero-title">
		<h1> Yummy Wiki </h1>
	</div>

	<div class="hero-icon">
		<img id="poor-cookie" src="/img/cookie.png" alt="cookie-icon">
	</div>

	<form class="hero-search" ng-submit="search()">
		<input type="text" class="form-control input-lg text-center" placeholder="Oh Yummy Wiki" ng-model="searchString">
		<a type="submit" class="search-button" ng-click="search()">Yum!</a>
	</form>

	<div class="amb-results">
		<div class="amb-result" ng-repeat="q in ambQueries">
			<a ng-click="accuSearch(q.url)" class="pointer">{{ q.title }}</a>
		</div>
	</div>

</div>


		