<div class="container">

	<div class="top-search">
		<form ng-submit="search()">
			<input type="text" placeholder="Start a new search here and press enter" ng-model="searchString">
		</form>
	</div>

	<div class="top-yummy">
		<div class="page-title">
			<h3> {{title}} </h3>
		</div>
		<div class="summary">
			<div class="summary-paragraphs">
				<div ng-repeat="s in summary">
					<div ng-bind-html="renderHtml(s)"></div>
				</div>
			</div>
		</div>
	</div>

	<div class="infobox">
		<div ng-bind-html="renderHtml(infobox)"></div>
	</div>

	<div class="content">
		<div class="toc">
			<div ng-repeat="t in toc" class="toc-item">
				<p>{{ t.content }}</p>
			</div>
		</div>
	</div>

<!-- 	<h1> Main contents </h1>
	<div ng-repeat="c in content">
		<h2> {{c.title}} </h2>
		<div ng-repeat="p in c.paragraphs">
			<div ng-bind-html="renderHtml(p)"></div>
		</div>
	</div> -->

</div>