<div class="container">

	<div class="top-search">
		<form ng-submit="search()">
			<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
			<input type="text" placeholder="Start a new search here and press enter" ng-model="searchString">
		</form>
	</div>

	<div class="top-yummy">
		<div class="page-title">
			<h3> {{title}} </h3>
		</div>
		<div class="summary">
			<div class="summary-paragraphs">
				<div ng-repeat="s in summary">
					<div ng-bind-html="renderHtml(s)"></div>
				</div>
			</div>
		</div>
	</div>

	<div class="infobox">
		<div ng-bind-html="renderHtml(infobox)"></div>
	</div>

	<div class="glass tooltip">
	</div>

	<div class="content">
		<tabset>
			<tab ng-repeat="c in content" heading="{{ c.title }}" active="c.active" disabled="c.disabled">
				<div ng-repeat="p in c.paragraphs">
					<div ng-bind-html="renderHtml(p)"></div>
				</div>
			</tab>
		</tabset>
	</div>

	<knowledge-graph bar-height="20" bar-padding="5" class="knowledge-graph" data="data" on-click="showDetail(item)">
	</knowledge-graph>

</div>