<div class="container">

	<div class="top-search">
		<form ng-submit="search()">
			<input type="text" placeholder="Start a new search here and press enter" ng-model="searchString">
		</form>
	</div>

	<div class="left-summary">
		<div class="page-title">
			<h3> {{title}} </h3>
		</div>

		<div class="infobox">
			<div ng-bind-html="renderHtml(infobox)"></div>
		</div>
	</div>

	<h1> Summary </h1>
	<div ng-repeat="s in summary">
		<div ng-bind-html="renderHtml(s)"></div>
	</div>


	<h1> Table of contents </h1>
	<ul class="list-group">
		<li class="list-group-item" ng-repeat="t in toc">
			<a ng-href="{{t.href}}">{{ t.content }}</a>
		</li>
	</ul>

	<h1> Main contents </h1>
	<div ng-repeat="c in content">
		<h2> {{c.title}} </h2>
		<div ng-repeat="p in c.paragraphs">
			<div ng-bind-html="renderHtml(p)"></div>
		</div>
	</div>

</div>