/* ------ Global variables ------ */
/* ------ Global definitions ------ */
html,
.ng-scope {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Gentium Book Basic', 'Arial', serif;
  background-color: #fefff7;
  color: #635255;
  height: 100%;
}
/* For Angular Bootstrap */
.nav,
.pagination,
.carousel,
.panel-title a {
  cursor: pointer;
}
.container {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Gentium Book Basic', 'Arial', serif;
}
/* Vertically center almost any element */
.vertical_center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
/* Scroll Bar redefinition */
::-webkit-scrollbar {
  width: 7px;
  height: 5px;
}
/* Track */
::-webkit-scrollbar-track {
  -webkit-border-radius: 1px;
  border-radius: 1px;
  background: #fefff7;
}
/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 1px;
  border-radius: 1px;
  background: #f06164;
  -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
  background: #f06164;
}
/* -------- Global mixins -------- */
/* ------ Index page ------ */
.container-home {
  background-color: #f06164;
}
.hero-title {
  position: relative;
  margin-top: 12%;
  text-align: center;
  color: #fff;
}
.hero-title h1 {
  font-size: 6em;
  font-family: 'Abril Fatface', Arial, serif;
}
.hero-icon {
  margin-top: 2%;
  text-align: center;
}
.hero-icon #poor-cookie {
  width: 120px;
  height: auto;
}
.hero-search {
  position: relative;
  width: 60%;
  text-align: center;
  margin-top: 5%;
  margin-left: 20%;
  color: #fff;
}
.hero-search .search-button {
  position: absolute;
  right: 2%;
  top: 20%;
  font-size: 0.9em;
  background-color: #f06164;
  color: #fff;
  padding: 6px 12px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
}
.hero-search .search-button:hover {
  cursor: pointer;
  text-decoration: none;
  background-color: #ec3236;
}
.amb-results {
  position: relative;
  width: 80%;
  margin-left: 10%;
  margin-top: 5%;
  height: 35%;
  overflow: auto;
}
.amb-results .amb-result {
  float: left;
  height: 3em;
  margin: 5px;
}
.amb-results .amb-result a {
  padding: 15px;
  background-color: rgba(50, 50, 50, 0.2);
  line-height: 0.5em;
  color: #fff;
  display: block;
}
.amb-results .amb-result a:hover {
  cursor: pointer;
  text-decoration: none;
}
/* ------ Yummy wiki ------ */
.top-search {
  position: absolute;
  top: 0;
  width: 100%;
  height: 40px;
}
.top-search form {
  height: 100%;
}
.top-search form .glyphicon {
  position: absolute;
  color: #f9bebf;
  top: 30%;
  left: 20px;
}
.top-search form input {
  height: 100%;
  width: 100%;
  border: 0;
  padding: 0 0 0 50px;
  color: #fdeded;
  background-color: #f06164;
  font-size: 0.9em;
}
.top-search form input:-moz-placeholder {
  color: #f9bebf;
}
.top-search form input:-ms-input-placeholder {
  color: #f9bebf;
}
.top-search form input::-webkit-input-placeholder {
  color: #f9bebf;
}
.top-search form input:focus {
  outline: none;
}
.top-yummy {
  position: absolute;
  top: 40px;
}
.top-yummy .page-title {
  width: 20%;
  height: 120px;
  text-align: center;
  float: left;
  overflow: hidden;
}
.top-yummy .page-title h3 {
  margin: 0;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-family: 'Abril Fatface', Arial, serif;
  text-transform: uppercase;
}
.top-yummy .summary {
  height: 140px;
  width: 80%;
  padding: 10px 10px 10px 0;
  float: right;
  overflow-y: scroll;
}
.top-yummy .summary a {
  color: #524144;
  border-bottom: 1px dashed #000000;
}
.infobox {
  position: absolute;
  top: 180px;
  width: 20%;
  height: calc(100% - 200px);
  padding: 0 10px 0 10px;
  font-size: 0.9em;
  overflow-y: scroll;
  /* Get all image to 100% width */
}
.infobox a img {
  width: 100%;
  height: auto;
}
.infobox a {
  color: #524144;
  border-bottom: 1px dashed #000000;
}
.infobox tr,
.infobox th,
.infobox table {
  color: inherit !important;
  background-color: inherit !important;
}
.glass {
  z-index: 100;
  position: absolute;
  height: 20px;
  width: 80%;
  top: 160px;
  left: 20%;
  background: -moz-linear-gradient(top, rgba(254, 255, 247, 0.1) 0%, #fefff7 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(254, 255, 247, 0.1)), color-stop(100%, #fefff7));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(254, 255, 247, 0.1) 0%, #fefff7 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(254, 255, 247, 0.1) 0%, #fefff7 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(254, 255, 247, 0.1) 0%, #fefff7 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(254, 255, 247, 0.1) 0%, #fefff7 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1afefff7', endColorstr='#fefff7', GradientType=0);
  /* IE6-9 */
}
.content {
  position: absolute;
  top: 180px;
  left: 20%;
  width: 50%;
  height: calc(100% - 200px);
  color: #635255;
}
.content .ng-isolate-scope {
  font-weight: 500;
  margin-right: 2px;
  height: 100%;
  display: inline-block;
}
.content .ng-isolate-scope ul {
  float: left;
  width: 150px;
  color: #7f696d;
  font-weight: 500;
  background-color: #fff6f5;
  border-bottom: none;
}
.content .ng-isolate-scope ul li {
  border-bottom: 1px solid #ffe6df;
  clear: both;
  width: 100%;
  min-height: 3em;
}
.content .ng-isolate-scope ul li a {
  padding: 10px 10px 0 10px;
  margin: 0;
  border: none;
  border-radius: inherit;
  color: inherit;
}
.content .ng-isolate-scope ul li:hover {
  background-color: #f49092;
  color: #fefff7;
}
.content .ng-isolate-scope ul li.active {
  background-color: #f06164;
  border: none;
  color: #fefff7;
}
.content .ng-isolate-scope ul li.active a {
  color: inherit;
  background-color: inherit;
  border: none;
}
.content .ng-isolate-scope ul li.active a:hover {
  background-color: transparent;
  border: none;
}
.content .ng-isolate-scope ul a:hover {
  background-color: transparent;
}
.content .ng-isolate-scope .tab-content {
  padding: 5px 10px 0 15px;
  height: 100%;
  width: calc(100% - 150px);
  overflow-y: scroll;
  overflow-x: hidden;
}
.content .ng-isolate-scope .tab-content .ng-scope {
  height: auto;
}
.content .ng-isolate-scope .tab-content a {
  color: #524144;
  border-bottom: 1px dashed #000000;
}
.knowledge-graph {
  position: absolute;
  top: 180px;
  left: 70%;
  width: 30%;
  height: calc(100% - 200px);
}
.knowledge-graph .graph {
  width: 100%;
  height: 70%;
}
.knowledge-graph .graph .graph-placeholder {
  background-image: url("../img/graph-holder.png");
}
.knowledge-graph .illustration {
  width: 100%;
  height: 30%;
  overflow-y: scroll;
}
.wiki-tooltip {
  padding: 10px;
  line-height: 1.5em;
  max-width: 400px;
  width: 400px;
  background-color: rgba(99, 82, 85, 0.9);
  color: #fefff7;
  border-color: #635255;
}
